<div class="parentContainer">
      
    <div class="addVehicleForm">
        <h1><%= title %></h1>
        <% if (errors) { %>
            <ul class="notice">
           <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
          <%  }) %>
           </ul>
          <% } %>
        <form action="/inv/delete" method="POST">
            <p>Confirm Deletion - The Deletion is permanent</p>
            <label for="make">Make:</label>
            <input type="text" id="make" name="inv_make" placeholder="Min of 3 Characters" value="<%= locals.inv_make %>" readonly required>

            <label for="model">Model:</label>
            <input type="text" id="model" name="inv_model" placeholder="Min of 3 Characters" value = "<%= locals.inv_model %>" readonly required>

            <label for="price">Price:</label>
            <input type="text" id="price" name="inv_price" placeholder="decimal or integer" value="<%= locals.inv_price %>" readonly required>

            <label for="year">Year:</label>
            <input type="text" id="year" name="inv_year" placeholder="4-digit year" value="<%= locals.inv_year%>"  readonly required>

            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>

            
            <button type="submit">Delete Vehicle</button>
        </form>
    </div>
</div>